<!DOCTYPE html>
<html>
<head>
    <title>Resume - View All</title>
</head>
<body>
    <h1>Resumes</h1>
    <!-- <%# if(locals.was_successful) { %>
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                Resume ID <%#= resume_id %> was successfully deleted.
                <br>
            </div>
        </div>
    <%# }else { %>
        <div class="col-md-12">
            <div id="message" class="alert alert-danger col-md-4">
                Failed to delete resume ID <%#= resume_id %>.
                <br>
                <br>
                <%#= error %>
                <br>
            </div>
        </div>
    <%# } %>
-->
    <a href="/resume/add/selectuser">Create New Resume</a>
<br>
<table border="1">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Resume Name</th>
    <th>Actions</th>
    <% for (var i = 0; i < resumes.length; i++) { %>
    <tr>
        <td><%= resumes[i].first_name %></td>
        <td><%= resumes[i].last_name %></td>
        <td><%= resumes[i].resume_name %></td>
        <td>
            <a href="/resume/edit/?resume_id=<%= resumes[i].resume_id %>">Edit</a>
            <a href="/resume/delete/?resume_id=<%= resumes[i].resume_id%>">Delete</a>
        </td>
    </tr>
    <% } %>
</table>
</body>
</html>