<!DOCTYPE html>
<html>
<head>
    <title>Address - View All</title>
</head>
    <body>
        <h1>Addresses</h1>
        <% if(locals.was_successful) { %>
        <div class="col-md-12">
            <div id="message" class="alert alert-success col-md-4">
                Address ID <%= address_id %> was successfully deleted.
                <br>
            </div>
        </div>
        <% }else { %>
        <div class="col-md-12">
            <div id="message" class="alert alert-danger col-md-4">
                Failed to delete address ID <%= address_id %>.
                <br>
                <br>
                <%#= error %>
                <br>
            </div>
        </div>
        <% } %>

        <a href="/address/add">Add New Address</a>
        <br>
        <table border="1">
            <th>ID</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>Actions</th>

            <%for (var i = 0; i < addresses.length; i++) {%>
            <tr>
                <td><%= addresses[i].address_id %></td>
                <td><%= addresses[i].street %></td>
                <td><%= addresses[i].zip_code %></td>
                <td>
                    <a href="/address/edit/?address_id=<%= addresses[i].address_id %>">
                        Edit
                    </a>
                    <a href="/address/delete/?address_id=<%= addresses[i].address_id %>">
                        Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>

    </body>
</html>